/* General Styles */
<meta name="google-site-verification" content="k5mVg1y-Vj4Uk7mMD-kac-QBh_EWhrkp4KNEfuioBrk" />
<meta name="description" content="An academic website about me, my accomplishments, and resources.">
<meta name="keywords" content="Uddipa, Academic Website, Math, Physics, Chess, Dance">
<meta name="author" content="Uddipa Pal">



body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

header {
    background: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

nav ul {
    background: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background: #575757;
}

section {
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h2 {
    color: #007BFF;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

.grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.grid div {
    flex: 1 1 30%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

img.responsive {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background: #0056b3;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
